@media screen and (max-width: 750px) {
app {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  width: 100%;
}
}
@media screen and (max-width: 1200px) and (min-width: 751px) {
app {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  width: 47%;
}
}
@media screen and (min-width: 1201px) {
app {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  width: 31%;
}
}
	
app a {
  display: block;
  color: #444;
  text-align: center;
  text-decoration: none;
  background: #FFF;
  padding: 10px;
}
app a:hover {
  background-color: #059;
  color: #FFF;
}

.appcontainer {
	padding: 10px;
	font-size: 1.2em;
	font-family: verdana;
	width: min(1260px, 90%);
    margin: auto;
	overflow: visible;
}