app {
  float: left;
  padding: 10px;
  width: max(30%, 190px);
}

app a {
  display: block;
  color: #444;
  text-align: center;
  text-decoration: none;
  background: #FFF;
  padding: 10px;
}
app a:hover {
  background-color: #059;
  color: #FFF;
}

.appcontainer {
	padding: 10px;
	font-size: 1.2em;
	font-family: verdana;
	width: min(1260px, 90%);
    margin: auto;
}