/* Hier de dingetjes die alleen op telefoonschermpjes hoeven*/
@media only screen and (max-width: 700px) {
  .content {
	padding: 10px;
	width: 95%;
  }
	.contentcontainer {
	padding: 10px;
}
}
/* Hier de dingetjes die op grotere schermpjes moeten*/
@media only screen and (min-width: 701px) {
  .content {
	padding: 20px;
	width: min(1200px, 90%);
 }
	.contentcontainer {
	padding: 20px;
}

}
/* Hier de algemene dingetjes*/
body {
  font-family: Arial;
  margin: 0;
  background: #DDDDE5;
}
ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: visible;
  background-color: #26B;
  font-size: 20px;
  width: min(1240px, 90%);
}
.ulcontainer {
  width: 100%;
  background-color: #26B;
  height: 56px
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}
li a:hover {
  background-color: #059;
}
.content {
	font-family: verdana;
    background: #FFF;
    margin: auto;
	font-size: 1em;
}
.foto {
	width: min(500px, 100%);
}
h1 {
	color: #059;
	margin-top: 0;
}
p {
	color: #444;
}
#constructie {
	width: min(700px, 100%);
}
#eend {
	width: min(700px, 100%);
}
textarea {
  width: 400px;
  height: 150px;
}
button {
background-color: #9999FF;
}
